{% extends "base.html" %}

{% block title %}Inicio de Sesión{% endblock %}

{% block content %}
<div class="login-box">
  <div class="header">
    <img src="{{ url_for('static', filename='images/icono_menu.png') }}" alt="Icono" class="icon">
    <h2>INICIAR SESIÓN</h2>
  </div>
  <!-- Se muestran mensajes flash si existen -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="post" action="/">
    <div class="input-group">
      <label for="perfil">Nombre de perfil</label>
      <input type="text" id="perfil" name="perfil" required>
    </div>
    <div class="input-group">
      <label for="contrasenna">Contraseña</label>
      <input type="password" id="contrasenna" name="contrasenna" required>
    </div>
    <button type="submit">Iniciar Sesión</button>
  </form>
</div>
{% endblock %}

{% block footer %}
<!-- No se añade footer en la página de inicio de sesión -->
{% endblock %}
